<Configuration status="warn">
    <Properties>
        <Property name="appName">Manventory</Property>
        <Property name="logDir">${sys:user.home}/${appName}/logs</Property>
        <Property name="fileName">${logDir}/current.log</Property>
        <Property name="filePattern">${logDir}/%d{yyyy-MM-dd}.log</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false">
                <pattern>%style{[%d{yyyy-MM-dd HH:mm:ss}]}{cyan} (%t) %highlight{%-5level%logger{36} - %msg}%n</pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="File" fileName="${fileName}" filePattern="${filePattern}" append="true">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] (%t) %-5level%logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>